body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #d0f0ff;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #c00;
    margin-top: 20px;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.personaje {
    width: 300px;
    height: auto;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.personaje:hover {
    transform: scale(1.05);
}

.botones {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.botones img {
    width: 70px;
    height: 70px;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.botones img:hover {
    transform: scale(1.2);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}
